# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages used
- List of libraries used
- List of tools
- Arithmetic operations

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. Scala
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. keras
3. Tensorflow
4. Numpy
5. Pandas

|Data Science Tools|
|------------------|
|mySQL|
|Apache AirFlow|
|ModelDB|
|GitHub|
|Kylo|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
print(3+2)
print(12*5)
print(17-6)
print(25/5)

5
60
11
5.0

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author 
Jisha Augustine